<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sawyergehring.journalmatic">

    <application
        android:name=".Journalmatic"
        android:allowBackup="true"
        android:icon="@drawable/ic_main_icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_main_icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings2"></activity>
        <activity
            android:name=".EditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>